.meal {
  display: flex;
  align-items: center;
}

.meal__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: auto;
}

.meal__title {
}

.meal__description {
  font-weight: 300;
}

.meal__price {
  font-weight: bold;
  color: #feb139;
}
